<!DOCTYPE html>
<html> 
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>The Grubbery</title>
        <link rel="shortcut icon" href="/static/images/logo.ico">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap" rel="stylesheet">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    </head>
    <body>

        <div class="container-fluid" id="#intro" style="background-color: #E6FFF6;">
            <br>
            <h3 class="display-3 text-center">The Grubbery</h3>
            <h4 class="text-center" style="font-family: 'Raleway', sans-serif;">We're not just a Restaurant, we're an Experience</h4>

            <br>
        </div>
        
        <nav class="navbar navbar-expand-xl navbar-light" style="background-color: #E6FFF6;">
        <a class="navbar-brand" href="/">
            <img src="/static/images/logo.ico" alt="Grubbery" style="width:30px;">
        </a>    
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#about"><h6 style="font-family: 'Raleway', sans-serif;">About Us</h6></a>
              </li>    
              <li class="nav-item">
                <a class="nav-link" href="#contact"><h6 style="font-family: 'Open Sans', sans-serif;">Order Food</h6></a>
              </li>    

            </ul>
            <ul>
                
            </ul>
          </div>  
        </nav>
        
        
        
        <div id="about" class="container-fluid"  style="background-color: #f5f5f5;">
            <br>
            <h3 class="display-4 text-center"> About Us</h3><br>
            <br>
            <p class="text-center container" style="font-family: 'Open Sans', sans-serif;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu turpis est. Duis elementum, nisl eu sagittis ultrices, enim sem congue turpis, ac volutpat lacus nibh ac nibh. Duis pellentesque nulla id urna viverra, a elementum nisi mattis. Donec sit amet molestie dui. In arcu elit, tempor ac vulputate quis, vestibulum sed lorem. Etiam viverra et purus pharetra lacinia. Aenean commodo diam erat, ac viverra justo congue a. Cras imperdiet pretium ex eget mattis. Nulla consectetur maximus mi, sit amet scelerisque lectus vestibulum a. Maecenas rhoncus eget ipsum vitae egestas.</p>
            <br>
        </div>
        
        <div id="contact" style="background-color: #f5fafa;">
            <br>
            <h3 class="display-4 text-center"> Order food!</h3><br>
            <h5 class="text-center" style="font-family: 'Open Sans', sans-serif;">Order our great food</h5><br>
            <div id="order" class="container" style="background-color: #f5fafa;">
                <span><iframe class="container-fluid-fluid" src="<Embed Link for Google Form>" width="1000" height="520" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe></span>
                <br>
                <br>
                <br>
                <form action="/ordered" method="POST">
                    <button type="submit" class="btn btn-block btn-success">Press this button after ordering</button>
                </form>
            </div>
            <div class="footer container-fluid" style="background-color: #E6FFF6; color: black;">
                <br>
                <br>
                <h6 class="text-center">© Macin Media. All rights reserved | Designed by Tushar Selvakumar</h6>
                <br>
                <br>
            </div>
        </div>
        </body>
        </html>
        
        
        